*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #170312;
}
nav{
    background-color: #33032F;
    width: 100%;
    height: 4rem;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.options{
    background-color: #33032F;
    border: none;
    color: inherit;
    height: 100%;
    width: 6rem;
    align-content: center;
    cursor: pointer;
    position: relative;
}

.options:hover, .option:hover{
    background-color: #531253;
    transition: all 300ms;
}

.point{
    position: absolute;
    width: 2px;
    height: 10px;
    color: white;
    background-color: white;
}

.option{
    color: inherit;
    background-color: #33032F;
}